.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 50px;
}

.container h2 {
  margin: 0;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid var(--accent);
  padding: 15px 10px;
  width: 400px;
}

.inputContainer input {
  width: 200px;
}

.inputContainer label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--dark-color);
}

.inputContainer button {
  width: 100px;
  background-color: var(--accent);
  color: var(--light-color);
  border: 1px solid var(--light-color);
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 1s;
}

.inputContainer button:hover {
  background-color: var(--dark-color);
}

.filter {
  width: 200px;
}
